@import 'general.scss';

#productImagesPreviewContent {
  display: none;
  text-align: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
  border-bottom: 0.5em dotted #2c3e50;
}

.imagesPreviewContainer {
  @include responsiveWidth(99%, 29%, 45%);
  @include responsiveHeight(75vw, 14.5vw, 45vw);
}

.imagesPreviewContainer:hover {
  cursor: pointer;
}

#previewMainImg:hover {
  cursor: default;
}

.imagesPreviewContainer img {
  @include containImg(80%);
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.inputFileLabel {
  background-color: $mainGreen;
}

//INGREDIENTS

.removeBtn {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  margin-left: 1%;
  padding: 0;
  text-align: center;
  border-radius: .5em;
  background-color: $red;
  border: none;
}
