// PRODUCTS CLASSES AND IDS
@import 'general.scss';

$productHeightMobile: 75vw;
$productHeightDesktop: 19vw;
$productHeightTablet: 32vw;
#products {
  text-align: center;
}

 .currentProduct {
   @include responsiveText(10);
   @include responsiveWidth(100%, 31%, 48%);
   @include responsiveHeight($productHeightMobile, $productHeightDesktop, $productHeightTablet);
   margin: 5em 1% 5em 1%;
   display: inline-block;
   vertical-align: top;
   z-index: 1;
   @include desktopOnly {
     @include responsiveText(11);
   }
 }
.currentProduct img {
  @include responsiveImg($productHeightMobile, $productHeightDesktop, $productHeightTablet);
}

.currentProduct:hover {
  cursor: default;
}

.overflowInputs {
  @extend .alignCenter;
  transition: all 220ms ease-in;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}

.overflowInputs:hover {
  cursor: default;
}

.overflowInputs button {
  @include responsiveText(20);
  font-weight: bolder;
  flex: 0 0 100%;
  background-color: #FFF;
  opacity: 100%;
  border: none;
  height: 25%;
  box-shadow:0px 0px 15px $clouds;
}

.overflowInputs button:first-child {
  border-bottom: .25em solid $mainGreen;
}

.overflowInputs button:last-child {
  border-top: .25em solid $mainGreen;
}

.overflowInputs button:hover {
  cursor: pointer;
}

.overflowInputs button:focus {
  outline: none;
}
