@import 'general.scss';

//USER BUTTON

.loginIcon {
  @include responsiveText(24);
}

#closeLoginPopupBtn {
  position: absolute;
  right: 5%;
}

#loginErrorMsg {
  line-height: 1em;
}

//LOGIN

//DIMENSIONS

#loginPopup {
  @extend .modalDesign;
  display: none;
  @include responsiveWidth(88vw, 25em, 50vw);
  @include responsiveText(12);
  position: absolute;
  margin-top: 1em;
  right: 0;
}

//LINKS

#forgotPasswordLink {
  @include responsiveText(14);
  padding-left: 1em;
  display: block;
  line-height: 1em;
  text-align: left;
}

#loginPopup input {
  border: .2em solid $grey;
}

//ACCOUNT OPTIONS

//DIMENSIONS

#accountDropdown {
  @extend .modalDesign;
  @include responsiveWidth(92.5vw, 11vw, 50vw);
  @include responsiveText(12);
  position: absolute;
  padding: 0;
  border-top: none;
  border-color: transparent;
  right: 4em;
  top: 3.8em;
  @include mobileOnly {
    right: 0;
    top: 6.9em;
  }
}

//CART SHOPPING

//ADD POPUP
#addCartPopup {
  @include responsiveText(24);
  background: #FFF;
  padding: .5em;
  padding-bottom: 2em;
  position: absolute;
  //HORIZONTAL CENTER
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  //VERTICAL CENTER
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @include mobileOnly {
    @include responsiveText(16);
    width: 80%;
  }
}

#addCartPopup .currentMainTitle {
  @include responsiveText(18);
  margin: 1em 0 1em 0;
}

#editCartTable table td:hover {
  cursor:default;
}

.deleteProductBtn {
  @include responsiveText(18);
  color: $grey;
  padding: .3em .6em .3em .6em;
}

.deleteProductBtn:hover {
  color: #FFF;
  cursor: pointer;
}

//DIMENSIONS

#cartDropdown {
  @extend .modalDesign;
  display: none;
  @include responsiveWidth(88vw, 25vw, 75vw);
  @include responsiveText(8);
  position: absolute;
  padding: 1em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
  border: none;
  box-shadow:0px 0px 5px $clouds;
  top: 5.5em;
  @include mobileOnly {
    top: 10.4em;
  }
}

#cartDropdown p {
  @include responsiveText(24);
}

#cartDropdown table {
  margin-top: 0;
}
#cartDropdown table th {
  padding: .1em;
}

#cartDropdown table td {
  @include responsiveText(20);
}

#cartDropdown table tr:hover {
  cursor: default;
}

#configTable button {
  @extend .smallMargin;
}

#configTable button a {
  @include responsiveText(22);
  display: inline-block;
    background-color: $mainGreen;
  text-align: center;
  width: 100%;
  padding: .5em;
}

//EDIT CART PAGE

#cartTotal, #cartTotalPrice {
  @include responsiveText(12);
  font-family: 'Josefin Sans', Helvetica;
  font-weight: bolder;
  letter-spacing: .1em;
  color: $red;
}

#carBuyBar, #returnBar {
  text-align: center;
  width: 100%;
}

#carBuyBar {
  margin-top: 5em;
  background-color: $mainGreen;
}

#returnBar {
  margin-top: 1em;
  background-color: $lightBrown;
}

#carBuyBar button, #returnBar button {
  @include responsiveText(18);
  background-color: $grey;
  color: #FFF;
}

#returnBar button:hover, #carBuyBar button:hover {
  opacity: .8;
}

#returnBar button {
  width: 50%;
  padding: .5em;
}

//ORDER PAGE
#deliveryOptions .inputCentered, #paymentOptions .inputCentered {
  margin: 3em 0 3em 0;
}

#deliveryOptions .inputCentered label, #paymentOptions .inputCentered label {
  width: 45%;
}

#deliveryOptions .inputCentered input, #paymentOptions .inputCentered input {
  width: 5%;
  height: 1em;
}

#deliveryOptions .inputCentered p, #paymentOptions .inputCentered p {
  width: 45%;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background-color: $orange;
  color: #FFF;
}

#paymentOptions .inputCentered p {
  text-align: justify;
  background-color: $grey;
  color: #FFF;
}

//ORDER COMPLETE
#paymentDetails {
  text-align: center;
}

#paymentDetails img {
  width: 10em;
  @include mobileOnly {
    width: 40%;
  }
}

#paymentDetails p {
  @include responsiveText(24);
  font-weight: bolder;
  @include mobileOnly {
    @include responsiveText(18);
  }
}

#orderDetails .mobileTable .alignCenter .subValue, #orderProductsDetails .mobileTable .alignCenter .subValue {
  text-align: left;
  font-weight: bold;
}

//ADMIN
#untaggedTitle span {
  border-color: $darkRed;
}

#untaggedProductsTableContent table th {
  background-color: $red;
}
