@import 'general.scss';

//USER BUTTON

.loginIcon {
  @include responsiveText(24);
}

#closeLoginPopupBtn {
  position: absolute;
  right: 5%;
}

#loginErrorMsg {
  line-height: 1em;
}

//LOGIN

//DIMENSIONS

#loginPopup {
  @extend .modalDesign;
  display: none;
  @include responsiveWidth(88vw, 25em, 50vw);
  @include responsiveText(12);
  position: absolute;
  margin-top: 1em;
  right: 0;
}

//LINKS

#forgotPasswordLink {
  @include responsiveText(14);
  padding-left: 1em;
  display: block;
  line-height: 1em;
  text-align: left;
}

#loginPopup input {
  border: .2em solid $grey;
}

//ACCOUNT OPTIONS

//DIMENSIONS

#accountDropdown {
  @extend .modalDesign;
  display: none;
  @include responsiveWidth(92.5vw, 11vw, 50vw);
  @include responsiveText(12);
  position: absolute;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
}

//CART SHOPPING

//DIMENSIONS

#cartDropdown {
  @extend .modalDesign;
  display: none;
  @include responsiveWidth(88vw, 30vw, 75vw);
  @include responsiveText(8);
  position: absolute;
  padding: 1em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  right: 0;
}

#cartDropdown p {
  @include responsiveText(24);
}

#cartDropdown table {
  margin-top: 0;
}
#cartDropdown table th {
  padding: .1em;
}
#cartDropdown table tr:hover {
  cursor: default;
}

#configTable button {
  @include responsiveText(22);
  background-color: $mainGreen;
  padding: .5em;
}

#cartTotal {
  font-weight: bolder;
  letter-spacing: .1em;
  color: $red;
}
