@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #2d3436;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}

header {
  line-height: 3em;
  height: 3em;
  position: fixed;
  top: 0;
  z-index: 99;
}

#headerSpacing {
  margin-top: 5em;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}
@media only screen and (max-width: 426px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.875em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: inherit;
  color: black;
  font-weight: bold;
  padding: 0.25em 0.75em 0.25em 0.75em;
  border: none;
  border: 0.1em solid #000;
}
@media only screen and (max-width: 426px) {
  button {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  button {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  button {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  button {
    font-size: 1.25em;
  }
}

button:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

form label {
  display: inline-block;
  min-width: 5em;
  text-align: center;
  margin-right: 0.5em;
}

form button {
  width: 50%;
  margin: 0 25% 0 25%;
}

input {
  padding: 0.1em 1% 0.1em 1%;
  display: inline-block;
  vertical-align: top;
  outline: none;
}

input:disabled {
  background-color: #dcdde1;
}

label, input {
  font-weight: bolder;
}
@media only screen and (max-width: 426px) {
  label, input {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  label, input {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  label, input {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  label, input {
    font-size: 1.25em;
  }
}

input, textarea {
  border: 0.1em solid #2d3436;
  border-radius: 0.25em;
}

textarea {
  min-width: 90%;
  max-width: 90%;
  min-height: 20vh;
  font-weight: bolder;
  padding: 1vh 5% 1vh 5%;
  margin: 1vh 0 1vh 0;
}
@media only screen and (max-width: 426px) {
  textarea {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  textarea {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  textarea {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  textarea {
    font-size: 1.25em;
  }
}

select {
  padding: 0.5em;
  border: 0.1em solid #2d3436;
  border-radius: 0.5em;
}

select, option {
  font-weight: bolder;
}
@media only screen and (max-width: 426px) {
  select, option {
    font-size: 1.09375em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  select, option {
    font-size: 1.09375em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  select, option {
    font-size: 0.875em;
  }
}
@media only screen and (min-width: 1025px) {
  select, option {
    font-size: 1.09375em;
  }
}

table {
  width: 100%;
  text-align: center;
  border-left: 0.5em solid #2d3436;
  border-collapse: collapse;
  margin-top: 5vh;
}

table th {
  cursor: default;
  background-color: #49DBA4;
  padding: 0.25em;
}
@media only screen and (max-width: 426px) {
  table th {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  table th {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  table th {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  table th {
    font-size: 1.875em;
  }
}

table td {
  font-weight: bold;
  padding: 1vh 0.25em 1vh 0.25em;
}
@media only screen and (max-width: 426px) {
  table td {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  table td {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  table td {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  table td {
    font-size: 1.25em;
  }
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.highlightText {
  font-weight: bolder;
}
@media only screen and (max-width: 426px) {
  .highlightText {
    font-size: 1.40625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .highlightText {
    font-size: 1.40625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .highlightText {
    font-size: 1.125em;
  }
}
@media only screen and (min-width: 1025px) {
  .highlightText {
    font-size: 1.40625em;
  }
}

.noShow {
  display: none;
}

.errMessage {
  color: #c0392b;
  font-weight: bolder;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 426px) {
  .errMessage {
    font-size: 1.171875em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .errMessage {
    font-size: 1.171875em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .errMessage {
    font-size: 0.9375em;
  }
}
@media only screen and (min-width: 1025px) {
  .errMessage {
    font-size: 1.171875em;
  }
}

.notice {
  text-align: center;
  font-weight: bolder;
  padding: 1em;
}
@media only screen and (max-width: 426px) {
  .notice {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .notice {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .notice {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1025px) {
  .notice {
    font-size: 1.5625em;
  }
}

.grid {
  display: inline-grid;
}

.borderedContent {
  border: 0.5em solid #49DBA4;
  border-top-color: #2d3436;
  border-bottom-color: #2d3436;
  border-radius: 0.25em;
  padding: 2em;
}

.inputCentered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.inputCentered label {
  min-width: 7.5em;
}

.inputContent {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 426px) {
  .inputContent, .inputContent label {
    text-align: center;
  }
}
.fullWidthMobile {
  display: inline-block;
}
@media only screen and (max-width: 426px) {
  .fullWidthMobile {
    width: 100%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .fullWidthMobile {
    width: 100%;
  }
}

.halfWidth {
  display: inline-block;
  width: 49%;
}

.halfWidth button {
  margin: 0 5% 0 5%;
}
@media only screen and (max-width: 426px) {
  .halfWidth button {
    width: 90%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .halfWidth button {
    width: 90%;
  }
}
@media only screen and (min-width: 769px) {
  .halfWidth button {
    width: 90%;
  }
}

.container {
  z-index: -1;
  position: relative;
  height: 100%;
}

.rightSideContent {
  display: table;
  float: right;
  height: 100%;
  position: relative;
}

.rightSideContent button {
  display: table-row;
  vertical-align: middle;
  border: none;
  padding: 0;
  outline: none;
  margin: 0 0.2em 0 0.2em;
}

.rightSideContent button p, .rightSideContent button span {
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
}

.content {
  min-height: 90vh;
  margin: 5vh 0 5vh 0;
}
@media only screen and (max-width: 426px) {
  .content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 769px) {
  .content {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.btnsBox {
  display: inline-block;
}

.pushTop {
  position: absolute;
  top: 0;
}

.mainTitle {
  width: 100%;
  text-align: center;
  margin: 2vh 0 2vh 0;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 426px) {
  .mainTitle {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .mainTitle {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .mainTitle {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  .mainTitle {
    font-size: 2.5em;
  }
}

.currentMainTitle {
  width: 100%;
  text-align: center;
  margin: 2vh 0 2vh 0;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 426px) {
  .currentMainTitle {
    font-size: 2.34375em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .currentMainTitle {
    font-size: 2.34375em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .currentMainTitle {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 1025px) {
  .currentMainTitle {
    font-size: 2.34375em;
  }
}

.bigMainTitle {
  width: 100%;
  text-align: center;
  margin: 2vh 0 2vh 0;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 426px) {
  .bigMainTitle {
    font-size: 3.125em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .bigMainTitle {
    font-size: 3.125em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .bigMainTitle {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1025px) {
  .bigMainTitle {
    font-size: 3.125em;
  }
}

.smallMainTitle {
  width: 100%;
  text-align: center;
  margin: 2vh 0 2vh 0;
  letter-spacing: 0.15em;
}
@media only screen and (max-width: 426px) {
  .smallMainTitle {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .smallMainTitle {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .smallMainTitle {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  .smallMainTitle {
    font-size: 1.875em;
  }
}

.mainTitle span, .currentMainTitle span, .smallMainTitle span {
  font-family: "Permanent Marker", cursive;
  border-bottom: 0.1em solid #49DBA4;
}

.modalDesign {
  background: #FFF;
  border: 0.6em solid #2d3436;
  border-left-color: #49DBA4;
  border-right-color: #49DBA4;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 2em 5% 2em 5%;
  border: 0.2em solid #2d3436;
  border-radius: 1em;
}
@media only screen and (max-width: 426px) {
  .modalContent {
    width: 70%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .modalContent {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) {
  .modalContent {
    width: 50%;
  }
}

.alignCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.enabledInput {
  border-bottom: 0.2em solid #2d3436;
}

@media only screen and (max-width: 426px) {
  .largeInput input, .largeInput label {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .largeInput input, .largeInput label {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .largeInput input, .largeInput label {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1025px) {
  .largeInput input, .largeInput label {
    font-size: 1.5625em;
  }
}
.largeInput input {
  width: 50%;
}
@media only screen and (max-width: 426px) {
  .largeInput input {
    width: auto;
  }
}

@media only screen and (max-width: 426px) {
  .mediumInput input, .mediumInput label {
    font-size: 1.40625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .mediumInput input, .mediumInput label {
    font-size: 1.40625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .mediumInput input, .mediumInput label {
    font-size: 1.125em;
  }
}
@media only screen and (min-width: 1025px) {
  .mediumInput input, .mediumInput label {
    font-size: 1.40625em;
  }
}

.mediumInput input {
  width: 35%;
}
@media only screen and (max-width: 426px) {
  .mediumInput input {
    width: auto;
  }
}

@media only screen and (max-width: 426px) {
  .smallInput input, .smallInput label {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .smallInput input, .smallInput label {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .smallInput input, .smallInput label {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  .smallInput input, .smallInput label {
    font-size: 1.25em;
  }
}

.smallInput input {
  width: 20%;
}
@media only screen and (max-width: 426px) {
  .smallInput input {
    width: auto;
  }
}

.dropdown {
  display: flow-root;
  width: 100%;
}

.dropdown button, .dropdown a {
  display: block;
  vertical-align: top;
  width: 100%;
  border: 0.25em solid #2d3436;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 0.4em 0 0.4em 0;
  outline: none;
}
@media only screen and (max-width: 426px) {
  .dropdown button, .dropdown a {
    font-size: 1.328125em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .dropdown button, .dropdown a {
    font-size: 1.328125em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .dropdown button, .dropdown a {
    font-size: 1.0625em;
  }
}
@media only screen and (min-width: 1025px) {
  .dropdown button, .dropdown a {
    font-size: 1.328125em;
  }
}

.dropdown button:last-child {
  border-bottom: none;
}

.dropdown button:nth-child(even) {
  background-color: #ced6e0;
}

.dropdown button:nth-child(odd) {
  background-color: #f1f2f6;
}

.dropdown button:hover {
  color: #0E8F5E;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 426px) {
  .inputFileLabel, .inputFileLabel i {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .inputFileLabel, .inputFileLabel i {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .inputFileLabel, .inputFileLabel i {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1025px) {
  .inputFileLabel, .inputFileLabel i {
    font-size: 1.5625em;
  }
}

.inputFileLabel {
  color: #FFFF;
  text-align: center;
  background-color: #49DBA4;
  padding: 1vh 2.5% 1vh 2.5%;
  display: inline-block;
}

.inputFileLabel * {
  vertical-align: middle;
}

.inputFileLabel:hover {
  background-color: #0E8F5E;
  cursor: pointer;
}

.inputFile:focus + label {
  outline-offset: 0.1em;
  outline: 0.2em dotted white;
  outline: -webkit-focus-ring-color auto 0.2em;
}

.resetBtn {
  margin: 0;
  padding: 0;
  border: none;
}

.deleteBtn {
  display: none;
  margin-left: 40%;
  font-weight: bolder;
  padding: 0;
  position: absolute;
  top: -0.75em;
  color: #FFF;
  background-color: #e74c3c;
  border: 0.1em solid #c0392b;
  border-radius: 0.5em;
}
@media only screen and (max-width: 426px) {
  .deleteBtn {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .deleteBtn {
    font-size: 1.875em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .deleteBtn {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  .deleteBtn {
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 426px) {
  .deleteBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .deleteBtn {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media only screen and (min-width: 769px) {
  .deleteBtn {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}
@media only screen and (max-width: 426px) {
  .deleteBtn {
    display: block;
  }
}
@media only screen and (max-width: 426px) and (max-width: 426px) {
  .deleteBtn {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 426px) and (min-width: 426px) and (max-width: 769px) {
  .deleteBtn {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 426px) and (min-width: 769px) and (max-width: 1025px) {
  .deleteBtn {
    font-size: 2em;
  }
}
@media only screen and (max-width: 426px) and (min-width: 1025px) {
  .deleteBtn {
    font-size: 2.5em;
  }
}

.closeBtn {
  float: right;
  top: 1vh;
  right: 2.5%;
  font-weight: bolder;
  color: #2d3436;
}
@media only screen and (max-width: 426px) {
  .closeBtn {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .closeBtn {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .closeBtn {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1025px) {
  .closeBtn {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 426px) {
  .closeBtn {
    text-align: center;
    color: #2d3436;
    background-color: inherit;
    border-bottom: 0.2em solid #49DBA4;
  }
}

.smallBtn, .indieBtn {
  width: 30%;
  margin: 0 35% 0 35%;
}
@media only screen and (max-width: 426px) {
  .smallBtn, .indieBtn {
    width: 70%;
    margin: 0 15% 0 15%;
  }
}

.indieBtn {
  margin: 1em 0 1em 0;
  border: 0.25em solid #2d3436;
  border-radius: 0.5em;
}
@media only screen and (max-width: 426px) {
  .indieBtn {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .indieBtn {
    font-size: 1.5625em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .indieBtn {
    font-size: 1.25em;
  }
}
@media only screen and (min-width: 1025px) {
  .indieBtn {
    font-size: 1.5625em;
  }
}

.colouredHover:hover {
  background-color: #49DBA4;
  color: #2d3436;
}

.closeBtn:hover {
  color: #49DBA4;
  cursor: pointer;
}

.linkUnderline {
  cursor: pointer;
  text-decoration: underline;
  color: #2980b9;
  text-decoration-color: #2980b9;
  border: none;
  font-weight: bolder;
}
@media only screen and (max-width: 426px) {
  .linkUnderline {
    font-size: 0.9375em;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .linkUnderline {
    font-size: 0.9375em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .linkUnderline {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 1025px) {
  .linkUnderline {
    font-size: 0.9375em;
  }
}

/*# sourceMappingURL=general.css.map */
