button(id="openDesignImages" class='indieBtn') Nova seção
include gridSelect
form(id="newGridForm" action="/api/grid/new" enctype="multipart/form-data" method="post")
  button(id="saveGrid" class='indieBtn noShow') Salvar
