#gridTypesContent.borderedContent.noShow
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="2x2")
    span(class="hint--bottom" data-hint="2x2")
      img(src='/images/grids/grid_2_2.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="2x1")
    span(class="hint--bottom" data-hint="2x1")
      img(src='/images/grids/grid_2_1.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="1x2")
    span(class="hint--bottom" data-hint="1x2")
      img(src='/images/grids/grid_1_2.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="1x1")
    span(class="hint--bottom" data-hint="1x1")
      img(src='/images/grids/grid_1_1.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="1x2xST")
    span(class="hint--bottom" data-hint="1x2 Squared Top")
      img(src='/images/grids/grid_1_2_ST.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="1x2xSB")
    span(class="hint--bottom" data-hint="1x2 Squared Bottom")
      img(src='/images/grids/grid_1_2_SB.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="2x1xSL")
    span(class="hint--bottom" data-hint="2x1 Squared Left")
      img(src='/images/grids/grid_2_1_SL.png')
  .gridType.noShow
    input(type="hidden" name="gridRatio" value="2x1xSR")
    span(class="hint--bottom" data-hint="2x1 Squared Right")
      img(src='/images/grids/grid_2_1_SR.png')
