extends layout

block headExtensions
  link(rel='stylesheet', href='/css/admin.css')
block content
  .content
    h1.currentMainTitle
      span Gestao
    //PRODUCTS
    #productsOption
      h1.currentMainTitle
        span Produtos
      #addProduct
        .inputCentered
          button(type='submit' onclick='displayPopup()') Adicionar Produto
        include addOns/addProductPopup
      #productsTableContent
    //PRODUCTS
    #ingredientsOption
      h1.currentMainTitle
        span Ingredientes
      #addIngredient
        .inputCentered
          button(type='submit' onclick='openPopup(this, "ingredientModal");') Adicionar Ingrediente
        include addOns/addIngredientPopup
      #ingredientsTableContent
  script(src='/js/admin.js')
