extends layout

block headExtensions
  link(rel='stylesheet', href='/css/homepage.css')
  link(rel='stylesheet', href='/css/products.css')
block content
  .content
    include addOns/mainLogo
    #products
      h1.currentMainTitle
        span Produtos
      each product in pageProducts
        include addOns/productFrame
  script(src='/js/products.js')
