extends layout

block headExtensions


block content
  .content
    include addOns/mainLogo
    h1.currentMainTitle
      span O seu carrinho
    p#emptyCartNotice.highlightText.noShow 
      span.alignCenter Carrinho vazio
    form(id='orderDataForm' method='post' action='/api/order/new')
      #orderPersonalDetails.flatContent
        .currentMainTitle
          span Dados da encomenda
        .inputCentered.mediumInput
          label(for='personName') Nome
          input(type='text' id='name' name='name' spellcheck="false" required)
        .inputCentered.mediumInput
          label(for='phone') Telemóvel
          input(type='number' id='phone' name='phone' required)
        .inputCentered.mediumInput
          label(for='address') Morada
          input(type='text' id='address' name='address' spellcheck="false" required)
        .inputCentered.mediumInput
          label(for='zipCode') Código Postal
          input(type='text' id='zipCode' name='zipCode' spellcheck="false" required)
        .inputCentered.mediumInput
          label(for='district') Localidade
          input(type='text' id='district' name='district' spellcheck="false" required)
      #deliveryOptions.flatContent
        .currentMainTitle
          span Método de envio
        .inputCentered.mediumInput
          label(for='delivery') Transportadora (4,95€)
          input(type='radio' value='4.95' class='carrier' name='delivery' spellcheck="false" required)
        .inputCentered.mediumInput
          label(for='name') Entrega Pessoal (Grátis)
          input(type='radio' value='0,00' class='person' name='delivery' spellcheck="false" required)
        .inputCentered.mediumInput
          p Aviso: A entrega em mãos é feita apenas na zona de Faro e arredores.
      #paymentOptions.flatContent
        .currentMainTitle
          span Método de pagamento
        .inputCentered.mediumInput
          label(for='payment') MBWay
          input(type='radio' name='payment' value='mbWay' spellcheck="false" required)
        .inputCentered.mediumInput
          label(for='payment') Transferência
          input(type='radio' name='payment' value='bank' spellcheck="false" required)
        .inputCentered.mediumInput
          p Para agilizar o processo, agradecemos que coloque o nº de encomenda no descritivo da transferência. A sua encomenda será enviada imediatamente após recepção do valor na nossa conta.
      #note.flatContent(style='padding-left: 2em; padding-right: 2em;')
        .inputCentered.mediumInput
          label(for='note') Informação adicional
          textarea(name='note' spellcheck="false")
      #editCartTable.orderPage
      #carBuyBar
        .halfWidth
          h1.currentMainTitle
            span Total: 
            span#cartTotalPrice
        button(type='submit' class='indieBtn') Finalizar
    #returnBar
      a(href='/') 
        button(class='indieBtn') Voltar ao menu principal
  script(src='/js/editCartPage.js')
  script(src='/js/order.js')
      
