extends layout

block headExtensions
  link(rel='stylesheet', href='/css/homepage.css')
  input(type='hidden' name='viewType' value=review)
block content
  .content
    include addOns/mainLogo
    #emailContent.flatContent
      if review == "old"
        .currentMainTitle 
          span Dados de pagamento
      else
        .currentMainTitle 
          span Encomenda realizada
      #successMsg
        if review == "new"
          p.notice Encomenda feita com sucesso! Um email de confirmação foi enviado para o seu endereço eletrónico.
          p.notice É necessário fazer o pagamento da encomenda por meio dos seguintes dados:
        if payment == "mbWay"
          #paymentDetails.lightBg.mediumMargin.alignCenter
            img(src='/images/mbWay.png' class='containImg' alt='MbWAYLogo')
            p.notice +351 965 710 575
        if payment == "Bank" || payment == "bank"
          #paymentDetails.lightBg.smallMargin.alignCenter
            p.notice Nome: André Pinheiro Cavaco Fernandes
            p.notice IBAN: +351 965 710 575
        p.notice Após o pagamento pode enviar por email o comprovativo para receber a sua encomenda o mais rápido possível.
        p.notice Endereço: 
          span.blueText #{email}
        br
        if review == "new"
          button(class='smallBtn')
            a(href='/') Ir para a página principal
        if review == "old"
          button(class='smallBtn')
            a(href='/profile') Voltar à página anterior
  script(src='/js/sendEmailPage.js')
        
