extends layout

block headExtensions
  link(rel='stylesheet', href='/css/homepage.css')
block content
  .content
    include addOns/mainLogo
    #emailContent
      .currentMainTitle 
        span #{pageTitle}
      form(class='borderedContent' onsubmit='emailVerification(event)' style='margin-top: 2em;')
        .inputCentered
          label(for='email') Email
          input(type='email' id='email' class='largeInput' required)
          input(type='hidden' id='emailSubject' value=subject)
        button(type='submit' id='submitEmail' class='colouredHover smallBtn' style='margin-top: 1em;') Enviar
    #successMsg.borderedContent(style='text-align:center;display:none;')
      p.notice Email enviado com sucesso! Por favor verifique o seu email para continuar.
      button
        a(href='/') Voltar à página principal
  script(src='/js/sendEmailPage.js')
        
