//ADD POPUP
#addCartModal.modal
  #addCartPopup.borderedContent.alignCenter.flexByHalf
    .inputCentered.notice Adicionado com sucesso
    .tinyUpMargin.halfWidth
      a(href="/cart/edit")
        button(class='greenBtn') Ver Carrinho
    .tinyUpMargin.halfWidth
      button(class='greenBtn' id='closeAddCartModalBtn') Continuar a Comprar
