//-Button settings
button(id='cartBtn' onclick='openPopup(this, "cartDropdown");updateCart();')
  span(class='material-icons loginIcon') shopping_cart
//MODAL
#cartDropdown(style='z-index: 2')
  #cartTable
  #configTable.noShow
    .inputCentered(style='margin: 0;')
      p Total: 
        span#cartTotal
    button(class='smallBtn')
      a(href="/order") Comprar
    button(class='smallBtn')
      a(href="/cart/edit") Editar
  //EMPTY  
  p#noItemsNotice.highlightText Carrinho vazio 
