#userConfirmedNotice.notice.borderedContent
  p Bem vindo, temos o prazer de informar que a sua conta Natural Glow foi criada com sucesso!
  br
  p Como último passo antes de iniciar sessão por favor verifique o seu email.
  br
  button(id='resendEmailLink' onclick='sendEmail(this.value, 1)').linkUnderline Reenviar email.
